.container {
  max-width: 260px;
  margin: 0 auto;

  &__footer {
    width: 620px;
  }

  &__go_for_it {
    width: 404px;
  }
}

@media (min-width: 748px) {
  .container {
    max-width: 748px;
  }
}

@media (min-width: 1170px) {
  .container {
    max-width: 1204px;

    &__about_us {
      width: 1170px;
    }

    &__awward{
      width: 1170px;
      margin-left: 15px;
      margin-right: 15px;
    }

    &__footer {
      width: 1170px;
    }
  }
}
