$background: radial-gradient(#09203a, #181c27);
$blue: #00eaff;
$orange: #ff6b08;
$yellow: #f9ae23;
$light_blue: #a5a7ad;
$dark_blue: #495161;
$dark: #a2a2a2;
$light: #edf0f2;
$black: #222;

@mixin montserrat($font-weight) {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: $font-weight;
}

@mixin acrom($font-weight) {
  font-family: 'Acrom', sans-serif;
  font-style: normal;
  font-weight: $font-weight;
}
