.why_it {
  width: 260px;
  height: 1280px;
  margin: 0 auto;
  &__title {
    width: 220px;
    padding-top: 35px;
    padding-bottom: 28px;
    color: #000;
    font-size: 20px;
    @include acrom(800);
  }
  &__section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.a_report {
  position: relative;
  top: 0;
  left: 0;
  width: 260px;
  padding-bottom: 30px;
  height: 755px;
  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__title {
    font-size: 14px;
    @include acrom(800);
    padding-bottom: 20px;
  }
  &--hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1;
  }
  &--background {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }
  &__img {
    position: absolute;
    top: 465px;
    left: 25px;
    &--blue {
      opacity: 0;
    }
    &--gray {
      opacity: 0;
    }
  }
}

.a_content {
  width: 245px;
  padding-bottom: 15px;
  padding-left: 15px;
  &__value {
    color: $blue;
    font-size: 30px;
    @include acrom(800);
  }
  &__text {
    font-size: 13px;
    margin: 0;
    padding: 5px;
    @include acrom(500);
  }
}

.a_income {
  width: 245px;
  padding-left: 17px;
  &__title {
    font-size: 14px;
    margin: 0;
    padding-bottom: 10px;
    @include acrom(700);
  }
  &--wrp {
    display: flex;
    justify-content: space-between;
  }
  &__value {
    color: $blue;
    font-size: 23px;
    @include acrom(800);
    &--wrp {
      width: 108px;
    }
  }
  &__text {
    font-size: 10px;
    color: #222;
    @include acrom(500);
  }
}

.a_offer {
  width: 215px;
  &__title {
    color: #000;
    font-size: 20px;
    margin: 0;
    padding-bottom: 15px;
    @include acrom(800);
  }
}

.a_list {
  list-style-type: square;
  padding-left: 30px;
  &__item {
    color: $blue;
    font-size: 40px;
    line-height: 20px;
    padding-bottom: 10px;
  }
  &__text {
    font-size: 14px;
    color: #000;
    vertical-align: top;
    @include acrom(500);
  }
}

@media (min-width: 748px) {
  .why_it {
    width: 720px;
    height: 1030px;
    &__title {
      min-width: 532px;
      padding: 50px 0;
      margin: 0 auto;
      font-size: 30px;
    }
  }

  .a_report {
    width: 702px;
    margin-left: 5px;
    margin-bottom: 30px;
    height: 542px;
    background: #eaedef;
    &__title {
      width: 406px;
      margin: 0 auto;
      line-height: 25px;
      font-size: 18px;
      text-align: center;
    }
    &--hover {
      box-shadow: 0 0 5px 5px #cfd1d3;
      height: 542px;
      transition: all 200ms linear;
    }
    &--background {
      height: 542px;
      background: transparent;
      z-index: 3;
      padding: 50px;
    }
    &__img {
      opacity: 0;
      &--blue {
        position: absolute;
        top: 305px;
        left: 320px;
        opacity: 1;
      }
    }
  }

  .a_report--hover:hover {
    top: -15px;
    left: 15px;
    right: -15px;
  }

  .a_content {
    width: 199px;
    padding-bottom: 5px;
    padding-left: 17px;
    &__text {
      margin: 10px 0;
      line-height: 19px;
    }
  }

  .a_income {
    width: 260px;
    &__title {
      line-height: 19px;
    }
    &__value {
      font-size: 25px;
      &--wrp {
        width: 116px;
      }
    }
  }

  .a_offer {
    width: 620px;
    margin: 0 auto;
    &__title {
      padding: 0 13px 30px;
      font-size: 30px;
    }
  }

  .a_list {
    width: 450px;
    &__item {
      font-size: 36px;
      line-height: 22px;
      padding-bottom: 15px;
    }
    &__text {
      font-size: 16px;
    }
  }
}

@media (min-width: 1170px) {
  .why_it {
    width: 1153px;
    height: 946px;
    &__title {
      min-width: 460px;
      padding: 85px 0;
      margin: 0;
      margin-left: 15px;
      font-size: 48px;
    }
    &__section {
      flex-wrap: nowrap;
      align-items: center;
    }
  }

  .a_report {
    margin-left: 0;
    margin-bottom: 0;
    &__content {
      margin-bottom: 5px;
    }
    &--background {
      padding: 45px 15px 35px 35px;
    }
    &__img {
      &--blue {
        opacity: 0;
      }
      &--gray {
        position: absolute;
        top: 290px;
        left: 340px;
        opacity: 1;
      }
    }
    &__title {
      padding-bottom: 30px;
    }
    
  }

  .a_content {
    width: 172px;
    padding-bottom: 5px;
    padding-left: 0;
    &__text {
      margin: 10px 0;
      line-height: 19px;
      padding: 0;
    }
  }

  .a_income {
    padding: 0;
    &__value {
      padding-bottom: 5px;
    }
  }

  .a_offer {
    width: 415px;
    margin: 0;
    &__title {
      padding: 0;
      padding-bottom: 40px;
      font-size: 48px;
    }
  }

  .a_list {
    width: 415px;
    &__item {
      font-size: 40px;
    }
    &__text {
      font-size: 18px;
    }
  }
}
