.your_way {
  max-width: 1170px;
  height: 645px;
  margin: 0 auto;
  padding-top: 100px;
  &--wrp {
    width: 100%;
    background: $background;
    height: 645px;
    margin: 0;
  }
  &__text {
    display: block;
    max-width: 670px;
    font-size: 30px;
    color: #fff;
    text-align: left;
    @include acrom(700);
    margin: 0 0 50px 10px;
  }
}

.a_section {
  display: flex;
  justify-content: space-between;
  &__title {
    color: $blue;
    font-size: 48px;
    @include acrom(700);
    text-align: left;
    margin: 0 0 55px 15px;
    &--wrp {
      max-width: 720px;
    }
  }
  &__button {
    width: 683px;
    height: 110px;
    margin-left: 15px;
    background: $orange;
    color: #fff;
    border: 0;
    box-shadow: 1px 1px 4px 0 $orange;
    text-transform: uppercase;
    font-size: 30px;
    @include acrom(800);
  }
  &__inf {
    display: block;
    width: 345px;
    color: #6d757f;
    text-align: left;
    font-size: 18px;
    line-height: 39px;
    margin-top: -75px;
    @include acrom(700);
    &--white {
      color: #fff;
    }
  }
}

.a_section__inf::before {
  content: '';
  width: 60px;
  height: 3px;
  background-color: $blue;
  display: block;
  margin-bottom: 16px;
}

@media (max-width: 1169px) {
  .your_way {
    max-width: 748px;
    height: 600px;
    padding-top: 60px;
    &--wrp {
      height: 600px;
    }
    &__text {
      max-width: 640px;
      font-size: 22px;
      margin: 0 0 30px 64px;
    }
  }

  .a_section {
    flex-wrap: wrap;
    margin-left: 64px;
    &__title {
      font-size: 40px;
      margin: 0 0 30px 0;
      &--wrp {
        max-width: 620px;
        order: 1;
      }
    }
    &__button {
      width: 532px;
      height: 70px;
      margin-left: 0;
      font-size: 18px;
    }
    &__inf {
      max-width: 620px;
      font-size: 16px;
      line-height: 22px;
      margin-top: 0;
    }
  }

  .a_section__inf::before {
    margin-bottom: 16px;
  }
}

@media (max-width: 748px) {
    .your_way {
        max-width: 260px;
        height: 562px;
        padding-top: 40px;
        &--wrp {
          height: 562px;
        }
        &__text {
          max-width: 260px;
          font-size: 16px;
          margin: 0 0 25px 0;
        }
      }
    
      .a_section {
        margin-left: 0;
        &__title {
          font-size: 20px;
          margin: 0 0 20px 0;
          &--wrp {
            max-width: 260px;
          }
        }
        &__button {
          width: 260px;
          font-size: 14px;
        }
        &__inf {
          max-width: 260px;
          font-size: 14px;
          line-height: 22px;
        }
      }
    
      .a_section__inf::before {
        margin-bottom: 16px;
      }
}
