$background: radial-gradient(#09203a, #181c27);
$blue: #00eaff;
$orange: #ff6b08;
$yellow: #f6ad27;
$yellowTextShadow: #ffb38d;
$lightBoxShadow: #f1d4c0;
$light_blue: #a5a7ad;
$dark_blue: #495161;
$dark: #a2a2a2;
$darkLight: #d8dadc;
$light: #edf0f2;
$black: #222;
$white: rgb(255, 255, 255);
$acrom: 'Acrom', sans-serif;

@mixin montserrat($font-weight) {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: $font-weight;
}

@mixin acrom($font-weight) {
  font-family: 'Acrom', sans-serif;
  font-style: normal;
  font-weight: $font-weight;
}
