@media (min-width: 748px){ 
    .consultation-text {
        max-width: 620px;
        margin: 0 auto;
    }
}

@media (min-width: 1170px) {
    .consultation-text {
        width: 500px;
        padding-top: 8.75rem;
      }
  }


