.container {
    max-width: 260px;
    margin: 0 auto;
}
@media (min-width: 748px){
    .container {
        max-width: 748px;
      }  
  }
  @media (min-width: 1170px) {
    .container {
        max-width: 1204px;
      }
  }