.container {
    max-width: 260px;
    margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1920px){
    .container {
        max-width: 748px;
      }  
  }
  @media (min-width: 1920px) {
    .container {
        max-width: 1204px;
      }
  }