@media (min-width: 748px){
    .header {
        max-width: 620px;
        margin: 0 auto;
      }  
  }
  @media (min-width: 1170px) {
    .header {
        max-width: 1160px;
        margin: 0 auto;
      }
  }